app/index.html
<!DOCTYPE html><html lang="en"><head><title></title><script src="/scripts/bootstrap.min.js" type="text/javascript"></script><script src="/scripts/main.js" type="text/javascript"></script><script src="/scripts/jquery.js" type="text/javascript"></script><link href="/styles/main.css" rel="stylesheet"><link href="/styles/bootstrap.min.css" rel="stylesheet"></head><body><nav><div class="mainNavigation"><h1 class="brandName">Lovetoeat.pl</h1><div class="navigationContent"><ul><li><a href="#">Przepisy</a></li><li><a href="#">Restauracje</a></li><li><a href="#">Food fight</a></li><li><a href="#">Blog</a></li><li><a href="#">Kontakt</a></li></ul></div></div></nav><section><div class="topPeppers"><h2>Czerwone Papryczki</h2><p>Papryka ostra – ogólna nazwa, jaką określa się owoce niektórych odmian, kultywarów i mieszańców papryki
(Capsicum) o bardzo ostrym smaku</p><div class="readArticle">czytaj artykuł</div></div></section></body></html>

app/index.jade
doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href='/styles/main.css', rel='stylesheet')
  body
    nav
      .mainNavigation
        h1.brandName Lovetoeat.pl
        .navigationContent
          ul
            li
              a(href='#') Przepisy
            li
              a(href='#') Restauracje
            li
              a(href='#') Food fight
            li
              a(href='#') Blog
            li
              a(href='#') Kontakt
    section
      .topPeppers
        h2 Czerwone Papryczki
        p Papryka ostra – ogólna nazwa, jaką określa się owoce niektórych odmian, kultywarów i mieszańców papryki
          |(Capsicum) o bardzo ostrym smaku
        .readArticle
          |czytaj artykuł
